html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
.d{
  border: 1px solid red !important;
}
* {
  box-sizing: border-box;
}

.app{
  height: 100vh;
  width: 100%;
  display: flex;
}
.layout{
  flex: 80%;
  padding-top: 5rem;
  overflow-y: scroll;
  position: relative;
}

.italic{
  font-weight: lighter;
}

.cursor{
  cursor: pointer;
}

.note{
  position: relative;
}
.note::before{
  content: " ";
  width: 5rem;
  height: 5rem;
  /* border-radius: 50%; */
  /* position: absolute;
  top: 0;
  right: 0; */
  background: red;
}